body {
    /* height: 100vh;
        width: 100vw; */
    background-color: #212020;
    margin: 0rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* overflow: hidden; */
}
#videoBG{
    /* display: flex; */
    position: relative;
    z-index: -3;
    object-fit: cover;
    /* bottom: 3rem; */

    width: 100vw;
    bottom: 50rem;
    margin: 0rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    /* object-fit: fill; */
}
@media (min-aspect-ratio : 16/9) {
    #videoBG {
        width: 100vw;
        height: auto;
    }
}
@media (max-aspect-ratio : 16/9) {
    #videoBG {
        width: 100vw;
        height: auto;
    }
}

/* NAVBAR SECTION  */
.navbar {
    position: relative;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
    /* backdrop-filter: blur(80px); */
    /* -webkit-backdrop-filter: blur(10px);  */

}
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
    display: inline-block;
    margin: 0rem 0 0 4rem;
}
.navbar-brand:hover {
    color: yellow;
}
.nav-link {
    color: aliceblue;
}
.nav-link:hover {
    color: yellow;
}
.one {
    margin-right: 5rem;
    font-size: 1.2rem;
}
.two {
    margin-right: 5rem;
    font-size: 1.2rem;
}
.three {
    margin-right: 5rem;
    font-size: 1.2rem;
}

/* HERO SECTION  */
.mainContent {
    /* position: relative; */
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    font-weight: 500;
    display: inline-block;
    margin: 6rem 0 0 4rem;
    letter-spacing: 0.2rem;
    width: 45%;
    

}
.mainContent2 {
    position: relative;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4rem 0 0 5rem;
    letter-spacing: 0.4rem;
    /* width: 45%; */

}

@keyframes taadaa { 
    0% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
}

.hacker {
    margin-top: 10rem;
    margin-right: 5rem;
    background: #212020;
    /* opacity: 0.45; */
    border-radius: 20px;
    padding: 3rem 2rem 3rem 2rem;
    /* animation: taadaa 3.5s infinite; */
}
/* .two {
    position: relative;
    right: 13rem;
    bottom: 30rem;
    width: 75%;

} */
.card-text {
    /* text-align: center; */
    color: white;
    font-size: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}
.hack {
    margin-top: 2rem;
    font-size: 1.5rem;
}
.devs {
    font-family: 'PT Serif', serif;
    color: aliceblue;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: 700;
    margin-top: 30rem;
}
.canvas {
    position: relative;
    z-index: 4;
    background-color:  #212020;
    padding: 5rem 2rem 5rem 2rem;
    bottom: 35rem;
    margin-right: 3rem;
    height: 100%;
    width: 45%;
    border-radius: 25px;
}
.canvas2 {
    position: relative;
    z-index: 4;
    background-color:  #212020;
    padding: 5rem 2rem 5rem 2rem;
    bottom: 35rem;
    margin-left: 3rem;
    height: 100%;
    width: 45%;
    border-radius: 25px;
}
.appr {
    /* display: inline-block; */
    /* position: absolute; */
    font-family: 'Roboto', sans-serif;
    /* background: #212020; */
    color: aliceblue;
    top : 0;    
    left: 0;
    /* bottom: 20; */
    font-weight: 700;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    text-align: left;

    letter-spacing: 0.2rem;
}
.blur {
    position: absolute;
    left: 0;
    right: -1rem;
    bottom: -11rem;
    height: 300px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px); 
}
.blur2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.7rem;
    height: 150px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
}
/* .banner {
    position: absolute;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.banner video {
    opacity: 0.5;
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;
    bottom: 30;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .banner p {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background: #212020;
    top : 0;    
    left: 0;
    bottom: 20;
    font-weight: 700;
    font-size: 9rem;
    width: 100%;
    height: 100%;
    text-align: center;

    letter-spacing: 0.2rem;
    mix-blend-mode: screen;

} */

/* HACKATHON PAGE  */
#image-track {
    display: flex;
    gap: 2vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    background-color: #212020;
    /* -- Prevent image highlighting -- */
}

.image {
    width: 70vmin;
    /**og value 30*/
    height: 100vh;
    /*og value 46*/
    object-fit: cover;
    object-position: 100% center;
}

/* -- YouTube Link Styles -- */


.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}

.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link>i,
.meta-link>span {
    height: 20px;
    line-height: 20px;
}

.meta-link>span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.six_seven {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    /* position: absolute;
    color: white;
    top: 75vh;
    left: 4rem; */
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 190px;
    left: 60px;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 10px;


}
.early {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    top: 82vh;
    left: 4rem;
    display: inline-block;
}

.sixbutton {
    position: absolute;
    top: 89vh;
    left: 4rem;

    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
}

.seven_eight {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    top: 75vh;
    left: 50rem;
    display: inline-block;

}

.morning {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    top: 82vh;
    left: 50rem;
    display: inline-block;
}

.sevenbutton {
    position: absolute;
    top: 89vh;
    left: 50rem;

    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;

}

.eight_nine {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    top: 75vh;
    left: 95rem;
    display: inline-block;
}

.late_morning {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    top: 82vh;
    left: 95rem;
    display: inline-block;
}

.eightbutton {
    position: absolute;
    top: 89vh;
    left: 95rem;

    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
}


.nine {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    top: 75vh;
    left: 141rem;
    display: inline-block;
}

.night {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    top: 82vh;
    left: 141rem;
    display: inline-block;
}

.ninebutton {
    position: absolute;
    top: 89vh;
    left: 141rem;

    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
}

.batchTitle {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* text-align: center; */
    width: 30%;
    position: relative;
    z-index: -1;
    left: 10rem;
    /* top : 30vh; */
    letter-spacing: 0.1rem;
    margin-top: 10rem;
}

.info {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* text-align: center; */
    width: 30%;
    position: relative;
    z-index: -1;
    left: 10rem;
    top: 20vh;
    letter-spacing: 0.1rem;
}
.registerhack {
    margin-top: 10rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* text-align: center; */
    width: 30%;
    position: relative;
    z-index: -1;
    left: 10rem;
    top: 20vh;
    letter-spacing: 0.1rem;
}

/* LOGIN PAGE  */
.log {
    /* margin-right: 5rem; */
    /* border-radius: 100px 0 0 100px; */
    /* height: 100vh; */

    /* object-fit: cover; */
    /* position: fixed; */


    /* filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px aliceblue); */

    opacity: 0.8;
    position: fixed;
    z-index: -7;
    top: 0;
    left: 0;
    bottom: 30;
    width: 100%;
    height: 100%;
    object-fit: cover;

    
    
}
.login {
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin-bottom: 2rem;
}
.notreg {
    color: white !important;
}
.form {
    background-color: #212020;
    border-radius: 40px;
    padding: 5rem 2rem 5rem 2rem;
    margin-top: 14vh;
    margin-left: 36vw;
    /* width: 50%; */
    position: relative;
    z-index: 4;
    width: 30%;
    /* text-align: center; */
}
.label {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin-bottom: 1rem;

}
.bn {
    /* padding: 1rem 1rem 1rem 1rem ; */
    font-size: 2rem;
    margin-top: 4rem;
    cursor: pointer;
    border: 1px solid white;    
    background-color: transparent;
    height: 60px;
    width: 200px;
    color: white;
    /* font-size: 1.5rem; */
}
.form-control {
    font-size: 1.2rem;
    background-color: transparent;
    border: white 20px;
    box-shadow: 10px 15px 10px -15px #fff; 

    /* text-align: center; */
    /* justify-content: center;  */
}
.form-group input {
    /* background-color: #212020; */
    background: transparent;
    color: aliceblue;
    border: none;
    width: 75%;
    border-radius: 15px;
    /* text-align: center; */

}
.form-control input :focus {
    outline: none;      /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px orange;

}


/* .form-text { */
    /* color: aliceblue !important; */
    /* margin-top: 0.5rem; */
/* } */

.sec {
    /* background-color: #212020;
    border-radius: 40px;
    padding: 5rem 2rem 5rem 2rem;
    margin-top: 1vh;
    margin-left: 36vw;
    width: 50%;
    position: relative;
    z-index: 2;
    width: 80%; */
    margin-top: 1rem !important;
}


/* CHOOSE PAGE  */
.shake {
    height: 100vh;
    width: 50vw;
    object-position: 100% center;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    
}

.container {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 50vw ;
    min-height: 600px;
    min-width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .border {
    height: 100vh;
    width: 70vw;
    background: transparent !important;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    height: 95vh;
    width: 48vw;
    border: 1px solid #fff;
  }
  .xyz {
    margin-top: 18vh;
    height: 90vh;
    width: 100vw;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card1 {
    background: url("https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt30385dd629e01be8/6349f62bbf416852dd931d72/CODWZ2_S1-Bnet_Game-Background_Desktop-1600x800.jpg?width=&format=webply&dpr=2&disable=upscale&quality=80") center left no-repeat;
    background-size: 1740px;
  }
  .card1:hover {
    background: url("https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt30385dd629e01be8/6349f62bbf416852dd931d72/CODWZ2_S1-Bnet_Game-Background_Desktop-1600x800.jpg?width=&format=webply&dpr=2&disable=upscale&quality=80") center center no-repeat;
    background-size: 1800px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }

  
/* CREATE TEAM STYLES  */
.create {
    margin: 0rem;
    width: 100%;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    margin-left: 4rem;
    margin-top: 20vh;
}

.create_team {
    margin-left: 0;
    margin-right: 7rem;
    margin-bottom: 4rem;
    
}

/* HACKATHON CREATE PAGE STYLES  */
.reg {
    margin-right: 21vw;
    /* width: auto; */
    /* width: 100%; */
}
.hackers {
    width: 60%;
    margin-left: 27vw;
    margin-top: -2rem;
    /* display: grid; */
    /* justify-content: center; */
    /* align-items: initial; */
}
.desc {
    /* padding: 3rem 0 3rem 0; */
    size: 4rem;
    height: 100px;
    background-color: transparent;
    color: white;
    width: 75%;
}
#date {
    /* height: 100px
    ; */
    margin-left: 2rem;
    background-color: white;
    /* color: white; */
    width: 33vw;
}
.num {
    background-color: transparent;
    color: white;
    width: 75%;
    font-size: 1.2rem;
}
.select {
    background: #212020;
}



/* USER PPROFILE PAGE STYLES  */
.meow {
    height: 400px;
    width: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 3rem;
    /* height : 300px;
    width: 200px; */
}
.useremail {
    color: rgb(191, 189, 189);
    margin: 3rem 0 0 3rem;
    font-size: 1.8rem;
}
.val {
    /* margin-bottom: 2rem; */
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.teams {
    border-radius: 25px;
    margin-top: 2rem;
    /* margin-left: 4rem; */
    width: 99%;
    background-color: black;
    padding-bottom: 3rem;
    padding-top: 1rem;
    /* text-align: center; */
}

.divsign {
    /* margin-bottom: 10rem; */
    margin-top: 1vw;
    /* width: 40%; */
}
